*{
	margin:0;
	padding:0;
	color: #8fed8f;
}

body{
	
	font-family: "Arial",Sans-serif;
	background-image: url('../../wall4.jpg');
}

header{
	
	font-size: 22px;
	
}

header h1
{
	font-size: 72px;
	margin-left: 2%;
	margin-top: 1%;
}

header form
{
	margin-right: 5%;
}

.register input[type="text"] 
{
  padding: 5px;
  border: solid 1px #8fed8f;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #f1fcf1;
  margin-left: 2%;
  font-size: 18px;
  margin-top: 1%;
}

.register input[type="password"] 
{
  padding: 5px;
  border: solid 1px #8fed8f;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #f1fcf1;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 18px;
}


.register
{
	font-size: 22px;
	text-align: center;
}

.register label
{
	text-align: right;
}

.register h1
{
	font-size: 50px;
	margin-bottom: 1%;
	text-decoration: underline;
}

.regis .boton
{
	float: right;
	margin-top: -2.4%;
	
}

.login
{
	text-align: right;
}

.login .boton
{
	margin-right: 12%;
}

.login input[type="text"] 
{
  padding: 5px;
  border: solid 1px #8fed8f;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #f1fcf1;
  margin-left: 2%;
  font-size: 18px;
}
.login input[type="password"] 
{
  padding: 5px;
  border: solid 1px #8fed8f;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #f1fcf1;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 18px;
}

.boton
{
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#8fed8f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Arial",Sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	margin-left: 1%;
}

.boton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#7dcf7d;
}
.boton:active {
	position:relative;
	top:1px;
}

}
.logo
{
	width: 70%;
}
.logo img
{
	width: 10%;
	float: left;
	margin-right: 1%;

}

.container{
	display: block;
	height:500px;
	
}

.error
{
	display: block;
	height:500px;
}

.error p
{
	color: red;
	font-size: 18px;
	float: right;
	margin-right: 5%;
	margin-top: 1%;

}

.dashboard h1
{
	text-decoration: underline;
	text-align: center;
}
.admin_users
{
	width: 40%;
	height: 500px;
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	display: flex;
	flex-direction: column;

}

.admin_users_form
{
	margin-top: 10%;
	align-self: center;
	
}

.admin_anuncios
{
	width: 20%;
	height: 350px;
	border: solid 3px #8fed8f;
	float: right;
	margin-top: 3%;
	margin-right: 15%;
}

footer
{
	position:absolute;
    bottom:5px;
}

.modificar_user
{
	margin-top: 5%;
}
.modificar_user h1
{
	text-align: center;
	margin-bottom: 2%;
}
.eliminar_user
{
	margin-top: 5%;
}
.eliminar_user h1
{
	text-align: center;
	margin-bottom: 2%;
}
.crear_user
{
	margin-top: 5%;
}

.crear_user h1
{
	text-align: center;
	margin-bottom: 2%;
}

.anuncios
{
	margin-left: 15%;
}
.anuncio1
{
	width: 20%;
	height: 350px;
	border: solid 3px #8fed8f;
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	text-align: center;

}

.anuncio2
{
	width: 20%;
	height: 350px;
	border: solid 3px #8fed8f;
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	text-align: center;
}

.anuncio3
{
	width: 20%;
	height: 350px;
	border: solid 3px #8fed8f;
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	text-align: center;
}

.anuncio_imagen
{
	border: solid 1px #8fed8f;
	width: 80%;
	text-align: center;
	margin-left: 10%;
	height: 200px;
	margin-top: 15%;
}

#register label{
    display: inline-block;
    float: left;
    clear: left;
    width: 40%;
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}
#register input {
  display: inline-block;
  float: left;
}

#bot_regis
{
	margin-left: 115%;
}

#submit_modificar
{
	margin-left: 120%;
}

#submit_eliminar
{
	margin-left: 120%;
}

#submit_crear
{
	margin-left: 120%;
}

#boton_modificar
{
	margin-top: 5%;
}

#boton_eliminar
{
	margin-top: 5%;
}

#boton_crear
{
	margin-top: 5%;
}

#anuncios_vistauser
{
	margin:5%;
	display: flex;
	flex-wrap: wrap;
	height: 40vh;

}

.anuncio_user
{
	border: solid 1px #8fed8f;
	flex:1;
}

.anuncio_user h2, p
{
	text-align: center;
	margin-top: 3%;
}

#mapa
{
	margin-left: 30%;
}

.anuncios_home
{
	margin:5%;
	display: flex;
	flex-direction: row;
	height: 40vh;
	margin-top: 10%;

}
.anuncio_home
{
	border: solid 1px #8fed8f;
	flex:1;
	margin-left: 2%;
}

.anuncio_home h2, p
{
	text-align: center;
	margin-top: 3%;
}

#logeado
{
	width: 20%;
	margin-left: 80%;
	margin-top: -5%;
}

#logeado img
{
	width: 20%;
}